[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "*"
openai = "*"
pydub = "*"
streamlit = "*"
ffmpeg = "*"
pillow = "*"
python-dotenv = "*"
azure-storage-blob = "*"
azure-identity = "*"
audio-recorder-streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
